<div class="container mt-5 ">
    <%= form_for(@article, html: {class: "form-horizontal center"}) do |f| %>
      <div class="form-group">
        <%= f.label :title, "Title:", class: "col-md-12 control-label" %>
        <div class="col-md-12">
            <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :content, "Content", class: "col-md-12 control-label" %>
        <div class="col-md-12">
          <%= f.text_field :content, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-primary ml-3" %>
      </div>
      <% end %>
</div>


